
@mixin break-point($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin fraunces($weight) {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

@mixin montserrat($weight) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}
